ul {
    list-style-type: none;
}

body {
    font-family: "Tillana", serif;
}
.products {
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.products-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.products-link {
    color: antiquewhite;
    background-color: transparent;
    text-decoration: none;

}

.products-link:visited {
    color: antiquewhite;
    background-color: transparent;
    text-decoration: none;
}

.products-link:hover {
    background-color: transparent;
    text-decoration: solid;
    text-decoration: underline;
}

.navbar-container {
    background-color: rgb(33, 32, 32);
    color: antiquewhite;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /* font */
    /* margine */
    padding:0.5em;
}

.navbar-business {
    font-size: 24;
    flex-grow: 1;
}

.navbar-login {}

@media screen and (max-width: 400px) {
    .navbar-login {
        visibility: hidden;
    }
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* position:relative; */
    object-fit: contain; 

}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    flex-wrap: nowrap;
    padding: 1em;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
